@use "sass:map";

$terrible-color-base: #df713c;
$terrible-color-comp: #3caadf;

/*
    This palette is based on:
    https://colorkit.co/color-shades-generator/df713c/
*/

$terrible-color-50: #ffffff;
$terrible-color-100: #fce3d9;
$terrible-color-200: #f7c7b3;
$terrible-color-300: #f0ab8d;
$terrible-color-400: #e88f67;
$terrible-color-500: #df713c;
$terrible-color-600: #a5522a;
$terrible-color-700: #6f3519;
$terrible-color-800: #3d1a0a;
$terrible-color-900: #120401;
$terrible-color-950: #000000;

:root {
    --bulma-link-text: #{$terrible-color-300};
}
