<div id="PresentationFlow" class="loading" data-rx-presentation="mcrawford-long-lashed-men">
    <div id="CenteringFlow">
        <div id="RatioContainerFlow">
            <div id="RatioContainerHeightFlow"></div>
            <div id="RatioDisplayFlow">
                <div class="opaque cover page">
                    <h1 class="rx-font-harting">long lashed men</h1>
                    <h2 class="rx-font-harting">by Margo Natalie Crawford</h2>
                </div>
                <div class="page">
                    <pre class="verse rx-font-harting">{{vm.presentationForLongLashedMen.Verses[0]}}</pre>
                </div>
                <div class="page">
                    <pre class="verse rx-font-harting">{{vm.presentationForLongLashedMen.Verses[1]}}</pre>
                </div>
                <div class="page">
                    <pre class="verse rx-font-harting">{{vm.presentationForLongLashedMen.Verses[2]}}</pre>
                </div>
                <div class="page">
                    <pre class="verse rx-font-harting">{{vm.presentationForLongLashedMen.Verses[3]}}</pre>
                </div>
                <div class="page">
                    <pre class="verse rx-font-harting">{{vm.presentationForLongLashedMen.Verses[4]}}</pre>
                </div>
                <div class="page">
                    <pre class="verse rx-font-harting">{{vm.presentationForLongLashedMen.Verses[5]}}</pre>
                </div>
                <div class="page">
                    <pre class="verse rx-font-harting">{{vm.presentationForLongLashedMen.Verses[6]}}</pre>
                </div>
                <div class="page">
                    <pre class="verse rx-font-harting">{{vm.presentationForLongLashedMen.Verses[7]}}</pre>
                </div>
                <div class="page">
                    <pre class="verse rx-font-harting">{{vm.presentationForLongLashedMen.Verses[8]}}</pre>
                </div>
                <div class="page credits">
                    <p>
                        <span>Words and Flow:</span> Margo Natalie Crawford
                    </p>
                    <p>
                        <span>Original Photography:</span> <a href="http://www.flickr.com/photos/uicdigital/">UIC Digital Collections</a>, <a href="http://www.flickr.com/photos/readme/">Lisa Meader</a>, <a href="http://www.flickr.com/photos/slworking/">slworking2</a> and <a href="http://www.flickr.com/photos/sniecikowski/">Jacek Sniecikowski</a>.
                    </p>
                    <p>
                        <span>Presentation:</span> Bryan Wilhite
                    </p>
                    <p>
                        <a class="print" href="#/presentation-long-lashed-men-print">[view print presentation]</a>
                    </p>
                </div>
                <span id="Previous" class="control">◄</span>
                <span id="Next" class="control">►</span>
            </div>
        </div>
    </div>
</div>
