<h1 class="rx-webfont-downcome">In Our Terribleness</h1>
<div class="splash-flow">
    <div class="command-flow">
        <a class="rx-webfont-downcome" href="#/bad">bad<span class="period rx-webfont-rhesus">.</span></a>
        <a class="rx-webfont-downcome" href="#/superbad">superbad<span class="period rx-webfont-rhesus">·</span></a>
        <a class="rx-webfont-downcome" href="#/terrible"><span class="period rx-webfont-rhesus">°</span>&#160;&#160;terrible</a>
    </div>
    <img src="http://farm7.staticflickr.com/6147/5977391902_33dac5329b_z.jpg" alt="Leimert Park Mask Festival 2011" />
</div>
