<h2><a class="rx-webfont-downcome" href="#/">superbad<span class="period rx-webfont-rhesus">·</span></a></h2>
<div class="grid_6 index">
    <h3>documentary and commentary about the Black Arts Movement</h3>
    <ul>
        <li><a href="http://kintespace.com/rasxlog/?p=2974" target="_blank">Bryan Wilhite: Before “Think Different” there was “Think Black”</a></li>
        <li><a href="http://kintespace.com/rasx35.html" target="_blank">Bryan Wilhite: Picturing the Black Dada Nihilismus</a></li>
    </ul>
</div>